HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### ENV FILE ###
src/main/resources/.env

# dependencies
/flickflex/node_modules
/flickflex/.pnp
/flickflex/.pnp.js

# testing
/flickflex/coverage

# production
/flickflex/build

# misc
/flickflex/.DS_Store
/flickflex/.env.local
/flickflex/.env.development.local
/flickflex/.env.test.local
/flickflex/.env.production.local

/flickflex/npm-debug.log*
/flickflex/yarn-debug.log*
/flickflex/yarn-error.log*
